{extend name="company/public/insidePageBase" /}
{block name="title"}控制台{/block}
{block name="css"}
{__block__}
<style>
    .layui-card {border:1px solid #f2f2f2;border-radius:5px;}
    .icon {margin-right:10px;color:#1aa094;}
    .icon-cray {color:#ffb800!important;}
    .icon-blue {color:#1e9fff!important;}
    .icon-tip {color:#ff5722!important;}
    .layuimini-qiuck-module {text-align:center;margin-top: 10px}
    .layuimini-qiuck-module a i {display:inline-block;width:100%;height:60px;line-height:60px;text-align:center;border-radius:2px;font-size:30px;background-color:#F8F8F8;color:#333;transition:all .3s;-webkit-transition:all .3s;}
    .layuimini-qiuck-module a cite {position:relative;top:2px;display:block;color:#666;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:14px;}
    .welcome-module {width:100%;}
    .panel {background-color:#fff;border:1px solid transparent;border-radius:3px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}
    .panel-body {padding:10px}
    .panel-title {margin-top:0;margin-bottom:0;font-size:12px;color:inherit}
    .label {display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em;margin-top: .3em;}
    .layui-red {color:red}
    .main_btn > p {height:40px;}
    .layui-bg-number {background-color:#F8F8F8;}
    .layuimini-notice:hover {background:#f6f6f6;}
    .layuimini-notice {padding:6.5px 16px;clear:both;font-size:12px !important;cursor:pointer;position:relative;transition:background 0.2s ease-in-out;}
    .layuimini-notice-title,.layuimini-notice-label {
        padding-right: 70px !important;text-overflow:ellipsis!important;overflow:hidden!important;white-space:nowrap!important;}
    .layuimini-notice-title {line-height:28px;font-size:14px;}
    .layuimini-notice-extra {position:absolute;top:50%;margin-top:-8px;right:16px;display:inline-block;height:16px;color:#999;}
</style>
{/block}
{block name="body"}
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md5">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-warning icon"></i>运营数据统计</div>
                            <div class="layui-card-body">
                                <div class="welcome-module">
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-orange">发行总量</span>
                                                        <h5>卡牌发行</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins" id="collection_total">0</h1>
                                                        <small>张</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-orange">用户持有</span>
                                                        <h5>卡牌数量</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins" id="collection_num">0</h1>
                                                        <small>张</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-orange">用户持有</span>
                                                        <h5>{$tokens}数量</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins"  id="food_num">0</h1>
                                                        <small>个</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                        </div>
                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md3">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-warning icon"></i>用户数据统计</div>
                            <div class="layui-card-body">
                                <div class="welcome-module">
                                    <div class="layui-row layui-col-space10">
                                        <!--<div class="layui-col-xs6">-->
                                        <!--    <div class="panel layui-bg-number">-->
                                        <!--        <div class="panel-body">-->
                                        <!--            <div class="panel-title">-->
                                        <!--                <span class="label pull-right layui-bg-orange">实时</span>-->
                                        <!--                <h5>今日新增</h5>-->
                                        <!--            </div>-->
                                        <!--            <div class="panel-content">-->
                                        <!--                <h1 class="no-margins"  id="today_user_num">0</h1>-->
                                        <!--                <small>会员</small>-->
                                        <!--            </div>-->
                                        <!--        </div>-->
                                        <!--    </div>-->
                                        <!--</div>-->
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-green">总量</span>
                                                        <h5>会员数量</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins"  id="total_user_num">0</h1>
                                                        <small>总数</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-blue">实时</span>
                                                        <h5>已认证</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins" id="today_user_auth_num">0</h1>
                                                        <small>用户</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="layui-col-xs6">-->
                                        <!--    <div class="panel layui-bg-number">-->
                                        <!--        <div class="panel-body">-->
                                        <!--            <div class="panel-title">-->
                                        <!--                <span class="label pull-right layui-bg-cyan">实时</span>-->
                                        <!--                <h5>未认证</h5>-->
                                        <!--            </div>-->
                                        <!--            <div class="panel-content">-->
                                        <!--                <h1 class="no-margins"  id="today_user_fail_num">0</h1>-->
                                        <!--                <small>用户</small>-->
                                        <!--            </div>-->
                                        <!--        </div>-->
                                        <!--    </div>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md8">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-warning icon"></i>用户最近七日新增统计</div>
                    <div class="layui-card-body">
                        <div id="property-room-a" style="width: 100%;min-height:300px"></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md8">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-warning icon"></i>宝石最近七日数据统计</div>
                    <div class="layui-card-body">
                        <div id="property-room-b" style="width: 100%;min-height:300px"></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md8">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-warning icon"></i>卡牌最近七日数据统计</div>
                    <div class="layui-card-body">
                        <div id="property-room-c" style="width: 100%;min-height:300px"></div>
                    </div>
                </div>
            </div>
            <!--<div class="layui-col-md6">-->
            <!--    <div class="layui-card">-->
            <!--        <div class="layui-card-header"><i class="fa fa-warning icon"></i>订单数据统计</div>-->
            <!--        <div class="layui-card-body">-->
            <!--            <div id="property-room-c" style="width: 100%;min-height:300px"></div>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->
        </div>
    </div>
</div>

{/block}
{block name="js"}
{__block__}
<script>
    layui.use(['echarts'], function () {
        var $ = layui.jquery, echarts = layui.echarts;


        loadStatisticsData()
        function loadStatisticsData() {
            $.get("{:url('companyIndexStatistics')}", function (res) {
                if (res.code === 0) {
                    $('#collection_total').html(res.data.collection_data.collection_total)
                    $('#collection_num').html(res.data.collection_data.collection_num)
                    $('#food_num').html(res.data.user_data.food_num)


                    // $('#today_user_num').html(res.data.user_data.today_user)
                    $('#total_user_num').html(res.data.user_data.total_user)
                    $('#today_user_auth_num').html(res.data.user_data.is_cert_user)
                    // $('#today_user_fail_num').html(res.data.user_data.no_cert_user)
                    loadUserEchart(res.data.echart.user_add, res.data.time_area)
                    loadBaoshiEchart(res.data.echart, res.data.time_area)
                    loadCardEchart(res.data.echart.collection, res.data.time_area)
                }
            })
        }

        function loadUserEchart(data, footer) {
            var assetListEchart = echarts.init(document.getElementById('property-room-a'), 'walden');
            option = {
              width: '80%',
                legend: {},
                xAxis: [
                    {
                      type: 'category',
                      axisTick: {
                        alignWithLabel: true
                      },
                      data: footer
                    }
                  ],
                yAxis: {
                    type: 'value'
                },
                series: [{
                    name: '',
                    type: 'line',
                      label: {
                        show: true,
                        position: 'top'
                      },
                    data: data
                }]
            };
            assetListEchart.setOption(option);
            // echarts 窗口缩放自适应
            window.onresize = function(){
                assetListEchart.resize();
            }
        }
        function loadBaoshiEchart(data, footer) {
            var assetListEchart = echarts.init(document.getElementById('property-room-b'), 'walden');
            option = {
              tooltip: {
                trigger: 'axis',
                axisPointer: {
                  type: 'shadow'
                }
              },
              legend: {},
              grid: {
                left: '5%',
                right: '4%',
                bottom: '3%',
                containLabel: true
              },
              xAxis: [
                {
                  type: 'category',
                  data: footer
                }
              ],
              yAxis: [
                {
                  type: 'value'
                }
              ],
              series: [
                // {
                //   name: '好友贡献',
                //   type: 'bar',
                //   stack: 'shouru',
                //   emphasis: {
                //     focus: 'series'
                //   },
                //   data: data.user_friend
                // },
                {
                  name: '基础城堡',
                  type: 'bar',
                  stack: 'shouru',
                  emphasis: {
                    focus: 'series'
                  },
                  data: data.wk_jc
                },
                {
                  name: '宝石城堡',
                  type: 'bar',
                  stack: 'shouru',
                  emphasis: {
                    focus: 'series'
                  },
                  data: data.wk_bs
                },
                // {
                //   name: '大逃杀成功躲避',
                //   type: 'bar',
                //   stack: 'shouru',
                //   emphasis: {
                //     focus: 'series'
                //   },
                //   data: data.dtsdb_sr
                // },
                {
                  name: '大逃杀投入',
                  type: 'bar',
                  stack: 'touru',
                  data: data.dtstr_sr,
                  emphasis: {
                    focus: 'series'
                  }
                },
                {
                  name: '大逃生盈亏',
                  type: 'bar',
                  data: data.user_win,
                  emphasis: {
                    focus: 'series'
                  }
                },
                {
                  name: '转赠手续费',
                  type: 'bar',
                  data: data.user_trx,
                  emphasis: {
                    focus: 'series'
                  }
                }
              ]
            };
            assetListEchart.setOption(option);
            // echarts 窗口缩放自适应
            window.onresize = function(){
                assetListEchart.resize();
            }
        }


        function loadCardEchart(data, footer) {
            var assetListEchart = echarts.init(document.getElementById('property-room-c'), 'walden');
            const colors = ['#5470C6', '#91CC75', '#EE6666'];
            option = {
              width: '80%',
              color: colors,
              tooltip: {
                trigger: 'axis',
                axisPointer: {
                  type: 'cross'
                }
              },
              grid: {
                right: '20%'
              },
              toolbox: {
               feature: {
                  dataView: { show: true, readOnly: false },
                  magicType: { show: true, type: ['line'] },
                  restore: { show: true },
                  saveAsImage: { show: true }
                }
              },
              xAxis: [
                {
                  type: 'category',
                  axisTick: {
                    alignWithLabel: true
                  },
                  data: footer
                }
              ],
              yAxis: [
                {
                  type: 'value',
                }
              ],
              series: [
                {
                  name: '卡牌',
                  type: 'bar',
                  yAxisIndex: 0,
                  label: {
                    show: true,
                    position: 'top'
                  },
                  data: data
                }
              ]
            };
            assetListEchart.setOption(option);
            // echarts 窗口缩放自适应
            window.onresize = function(){
                assetListEchart.resize();
            }
        }

        function arrayMin(arrs) {
            var min = arrs[0];
            for (var i = 1, ilen = arrs.length; i < ilen; i += 1) {
                if (arrs[i] < min) {
                    min = arrs[i];
                }
            }
            return min;
        }

        function arrayMax(arrs) {
            var max = arrs[0];
            for (var i = 1, ilen = arrs.length; i < ilen; i++) {
                if (Number(arrs[i]) > max) {
                    max = arrs[i];
                }
            }
            return max;
        }
        function arraySum(arr) {
            var s = 0;
            for (var i=arr.length-1; i>=0; i--) {
                s += arr[i];
            }
            return s;
        }
    });
</script>
<script>

        /**
         *  资产状态统计图（饼图）数据来自固定资产条码表
         */
        /**
         * 资产分类统计图（饼图）数据来自资产信息表
         * AssetCate
         */
        /**
         * 报表功能
         */

        /**
         * AssetCate
         */

</script>
{/block}