{extend name="company/public/insidePageBase" /}
{block name="title"}添加游戏{/block}
{block name="css"}
{__block__}
{/block}
{block name="body"}
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-form layui-form-pane">
            <form class="layui-form" >
                <div class="layui-form-item">
                    <label class="layui-form-label">游戏名称</label>
                    <div class="layui-input-block">
                        <input type="text"  name="game_name" lay-verify="require" placeholder="请输入游戏名称" class="layui-input" autocomplete="off"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">游戏别名</label>
                    <div class="layui-input-block">
                        <input type="text"  name="gamename" lay-verify="require" placeholder="请输入游戏别名" class="layui-input" autocomplete="off"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密钥</label>
                    <div class="layui-input-block">
                        <input type="text"  name="game_key" lay-verify="require" placeholder="请输入密钥" class="layui-input" autocomplete="off"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">游戏API地址</label>
                    <div class="layui-input-block">
                        <input type="text"  name="game_api" class="layui-input" placeholder="请输入游戏API地址" autocomplete="off"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">游戏访问地址</label>
                    <div class="layui-input-block">
                        <input type="text"  name="game_url" class="layui-input" placeholder="请输入游戏访问地址" autocomplete="off"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">权重</label>
                    <div class="layui-input-block">
                        <input type="number" name="sort" value="1" placeholder="请输入权重" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">封面图片</label>
                    <div class="layui-input-inline">
                        <input type="text" name="image" placeholder="请上传封面图片" id="image" class="layui-input">
                    </div>
                    <img class="checkPictureByImg image" style="width: 80px;height: 40px;">
                    <div class="layui-input-inline layui-btn-container" style="width: auto;">
                        <button type="button" class="layui-btn layui-btn-primary uploadImg" lay-data="{field: 'image',data:{dir:'game_picture', field:'image'}}">
                            <i class="layui-icon">&#xe67c;</i>
                        </button>
                    </div>
                </div>
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="1"  title="开启" checked />
                        <input type="radio" name="status" value="2" title="关闭" />
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <button class="layui-btn" type="button" lay-submit lay-filter="submitBtn" id="submitBtn">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="js"}
{__block__}
<script>
    layui.use(['form', 'layer', 'upload'], function () {
        var form = layui.form, layer = layui.layer
        $('.uploadImg').selectImages({
            confirm:function(res,elem,data) {
                $('#' + data.field).val(res[0].src);
                $('.' + data.field).attr('src',res[0].src)
            }
        });
    })
</script>
{/block}