{extend name="company/public/insidePageBase" /}
{block name="title"}编辑游戏{/block}
{block name="body"}
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">游戏名称</label>
                <div class="layui-input-block">
                    <input type="text" name="game_name" value="{$info['game_name']??''}" lay-verify="require" autocomplete="off" placeholder="请输入游戏名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">游戏别名(字母)</label>
                <div class="layui-input-block">
                    <input type="text" name="gamename" value="{$info['gamename']??''}" lay-verify="require" autocomplete="off" placeholder="请输入游戏别名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密钥</label>
                <div class="layui-input-block">
                    <input type="text" name="game_key" value="{$info['game_key']??''}" placeholder="请输入密钥" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">游戏API地址</label>
                <div class="layui-input-block">
                    <input type="text" name="game_api" value="{$info['game_api']??''}" placeholder="请输入游戏API地址" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">游戏访问地址</label>
                <div class="layui-input-block">
                    <input type="text" name="game_url" value="{$info['game_url']??''}" placeholder="请输入游戏访问地址" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">封面图片</label>
                <div class="layui-input-inline">
                    <input type="text" name="image" value="{$info['image']|default=''}" placeholder="请上传封面图片" id="image" class="layui-input">
                </div>
                <img src="{$info['image']|default=''}" class="checkPictureByImg image" style="width: 80px;height: 40px;">
                <div class="layui-input-inline layui-btn-container" style="width: auto;">
                    <button type="button" class="layui-btn layui-btn-primary uploadImg" lay-data="{field: 'image',data:{dir:'game_picture', field:'image'}}">
                        <i class="layui-icon">&#xe67c;</i>
                    </button>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">权重</label>
                <div class="layui-input-block">
                    <input type="number" name="sort" value="{$info['sort']??''}" placeholder="请输入权重" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item"  pane="">
                <label class="layui-form-label">游戏状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="status" value="1"  title="开启" {if $info['status'] == 1}checked{/if}>
                    <input type="radio" name="status" value="2" title="关闭" {if $info['status'] == 2}checked{/if}>
                </div>
            </div>
            <div class="layui-form-item layui-hide">
                <input type="hidden" name="id" value="{$info['id']}">
                <button class="layui-btn" lay-submit lay-filter="submitBtn" id="submitBtn">提交</button>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
{__block__}
<script>
    layui.use(['form','laydate', 'upload'], function () {
        var form = layui.form,
            upload = layui.upload,
            laydate = layui.laydate;

        $('.uploadImg').selectImages({
            confirm:function(res,elem,data) {
                $('#' + data.field).val(res[0].src);
                $('.' + data.field).attr('src',res[0].src)
            }
        });
    })
</script>
{/block}